<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <gazebo>
        <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
        <parameters>$(find former_bringup)/config/controllers_former_gazebo.yaml</parameters>
        </plugin>
    </gazebo>
</robot>